@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  } 
  
  body {
    background-color: #BCD7EF;
    margin: 0;
    font-family: 'Pretendard-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
  }
  
  .logo-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    margin-right: 10px;
    color: #fff; /* SVG의 색상을 변경 */
  }
  
  .title {
    font-family: 'Pretendard-bold';
    font-size: 3rem;
    margin: 0;
    color: #fff;
  }
  
  .title-highlight {
    font-weight: bold;
  }
  
  .divider {
    height: 1px;
    background-color: #E8F1FA;
    margin: 20px 0;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tag-label {
    background-color: #49454F;
    color: white;
    border: none;
    font-weight: 700;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .icon-buttons-container {
    display: flex;
    justify-content: center;
  }
  .icon-button {
    border: none;
    padding: 5px 10px;
  }
  
  .button:hover {
    background-color: #E8F1FA;
  }
  
  .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
  }
  
  .card-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .date {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #2C2C2C;
    color: white;
    border-radius: 4px;
    height: 70px;
    width: 50px;
  }
  
  .post-info {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .info-col {
    display: flex;
    flex-direction: row;
  }
  .info-row {
    display: flex;
    align-items: center;
  }
  
  .info-row img.icon-small {
    width: 18px;
    margin-right: 5px;
  }
  
  .tag {
    background-color: #E8F1FA;
    border-radius: 4px;
    padding: 5px;
  }
  
  .card-image {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .join-button,
  .cancel-button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .join-button {
    background-color: #333;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #ccc;
  }
  
  .join-button:hover {
    background-color: #555;
  }
  
  .cancel-button:hover {
    background-color: #aaa;
  }
  
  /* 글 작성 버튼 스타일 */
  .write-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .write-button:hover {
    background-color: #f1f1f1;
  }
  