.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bcd7ef;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-name {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-bottom: 5rem;
}

.logo img {
  width: 100px; /* 또는 원하는 크기 */
  height: auto; /* 가로 세로 비율 유지 */
  object-fit: contain; /* 이미지가 컨테이너에 맞게 조정됨 */
}

.open-button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-button:hover {
  background-color: #555555;
}
