@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    font-family: 'Pretendard-bold';
    font-size: 2.5rem;
    color: white;
    gap: 0;
}
  
.logoImage {
  width: 40px;
}

.title {
  margin: 20px;
  margin-top: -20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #E8F1FA;
}